@font-face {
  font-family: 'Overpass';
  src: url("./assets/Overpass-Light.ttf");
}
@font-face {
  font-family: 'Overpass-Bold';
  src: url("./assets/Overpass-Bold.ttf");
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-orange: hsl(25, 97%, 53%);
  --color-light-grey: hsl(217, 12%, 63%);
  --color-medium-grey: hsl(216, 12%, 54%);
  --color-dark-blue: hsla(213, 19%, 18%, 0.7);
  --color-darker-blue: hsla(216, 29%, 15%, 0.7);
  --color-very-dark-blue: hsl(216, 12%, 8%);

  --font-size-p: 15px;
  --font-family-p: 'Overpass', sans-serif;
  --font-family-title: 'Overpass-Bold', sans-serif;
}

body {
  background-color: var(--color-very-dark-blue);
  color: var(--color-white);
  font-family: var(--font-family-p);
  font-size: var(--font-size-p);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 2fr);
  column-gap: 5rem;
}

h1 {
  font-family: var(--font-family-title);
}

#rating, #rated {
  grid-column: 2;
  grid-row: 2;
  background: linear-gradient(to top,  var(--color-darker-blue), var(--color-dark-blue));
  border-radius: 10px;
  padding: 30px;
}

.inactive {
  display: none;
  opacity: 0;
}

.active {
  display: block;
  opacity: 1;
}

#rates {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

p {
 word-spacing: 0.16rem;
 line-height: 1.5rem;
 color: var(--color-light-grey);
}

#rates span, #star {
  transition: all .3s;
  background-color: var(--color-dark-blue);
  color: var(--color-light-grey);
  border-radius: 100%;
  font-size: 1.25rem;
  text-align: center;
  align-content: center;
  user-select: none;
}

#rates span {
  padding: 1rem 1.50rem;
  cursor: pointer;
}

#rates span:focus {
  background-color: var(--color-light-grey);
  color: white;
}

#rates span:hover {
  background-color: var(--color-orange);
  color: white;
}

#star {
  padding: 1rem;
}

button {
  transition: all .3s;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  background-color: var(--color-orange);
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  padding: 10px 0;
}

button:hover {
  background-color: var(--color-white);
  color: var(--color-orange);
}


#rated {
  text-align: center;
}

#rated img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tag {
  display: inline-block;
  padding: 3px 15px;
  color: var(--color-orange);
  background-color: var(--color-dark-blue);
  border-radius: 20px;
}

@media screen and (max-width:  850px) {
  body {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 10%;
  }

  #rating, #rated {
    grid-column: 1;
  }

  #rates span {
    padding: 0.4rem 0.75rem;
    font-size: 1rem;
  }
}
